.poppins{
    font-family: 'Poppins', sans-serif;
  }

  .custom-shadow{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

.multi-range-slider {
    border: none !important;
    padding: 0px !important;
    box-shadow: none !important;
}

.multi-range-slider .caption {
  display: none !important;
}

.react-multiple-carousel__arrow {
  background-color: rgba(0, 0, 0, 0.598) !important ;
}

